h1 {
	color:purple;
	font-family: Faster one;
	font-weight: bold;
	text-align: center;
}
.emphasize {
	color:green;
	font-weight: bold;
}

protest-item {
	color:purple;
	font-family: Faster one;
	font-weight: bold;
	text-align: center;
